{% extends "index_layout.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
    {% for q in questions %}
        <h4>
            {{ q.title }}
        </h4>
        <a href="{{ q.get_url }}">Read more</a>
        <br>
    {% endfor %}
    <nav>
    <ul>
    {% for p in paginator.page_range %}
        {% if page.number == p %}
        <li class="active">
        {% else %}
            <li>
        {% endif %}
        <a href="{{ paginator.baseurl }}{{ p }}">{{ p }}</a>
        </li>
    {% endfor %}
    </ul>
    </nav>
{% endblock %}